* text=auto eol=lf

# README.md is generated - collapse it in diffs to avoid noise.
# Shouldn't be necessary since we state to NOT edit, but that may be an extra clue.
README.md linguist-generated=true

# Pretty patches
*.py   diff=python
*.html diff=html
*.css  diff=css
*.md   diff=markdown
